.top__bar__nav{
    height: 80px;
    // background-color: $background;
    @include displayFlex(row, space-between, center);
    @include gradient();
    z-index: 999;

    color: white;

   

    .top__bar__search__container{

        @include displayFlex(row, unset, center);

        @include mediaMaxWidth(1000px){
            margin-left: auto;
        }


        .top__bar__search__icon{
            padding-left: 20px;
            padding-right: 20px;
            @include mediaMaxWidth(440px){
                padding-right: 10px;
             }
            
            i{
                font-size: 30px;
                @include mediaMaxWidth(370px){
                    font-size: 25px;
                 }
               
            }
        }


        .top__bar__search__input{
           

            input{
                color: black;
                height: 30px;
                border-radius: 25px;
                border: unset;
                text-indent: 10px;

            }

            .top__bar__input{
                width: 0px;
                opacity: 0;
                transition: 0.4s;
                pointer-events: none;

            }

            .top__bar__input--active{
                opacity: 1;
                transition: 0.4s;
                width: 200px;
                pointer-events: all;
                @include mediaMaxWidth(1000px){
                    margin-right: 15px;
                }

                @include mediaMaxWidth(440px){
                    width: 155px;
                    margin-right: 5px;
                 }

                 @include mediaMaxWidth(370px){
                    width: 125px;
                 }
            }
            }

        }

      

    }

   

    .add__btn{
        background-color: transparent;
        border: unset;
        margin-right: 20px;

       

        i{
            font-size: 35px;
            color: white;
            transition: 0.3s;
            @include mediaMaxWidth(370px){
                font-size: 25px;
             }
        }

        i:hover{
            color: $background;
            transition: 0.3s;
        }
    }



.top__bar__nav__task__page{
    @include displayFlex(row, flex-end, center);

    @include mediaMaxWidth(1000px){
        @include displayFlex(row, flex-end, center);
    }


    .top__bar__icon__container{

        padding: 30px;
        i{
            font-size: 30px;
            cursor: pointer;
        }
    }

}
