
//version 1
$main_background: #dbcbb746;
$background: #23074d;
$strong: #5f0f4e;  
$light: #CC5333;
$S_light: #ff7c57;
$light_background: #675682;
$SL_color: #662d5b41;
$SL_color_hover:  #58214d26;


