.contacts__nav{
    height: 80px;
    // background-color: $background;
    @include displayFlex(row, space-between, center);
    @include gradient();

    .add__btn{
        background-color: transparent;
        border: unset;
        margin-right: 1.5%;

        i{
            font-size: 45px;
            color: white;
            transition: 0.3s;
        }

        i:hover{
            color: $background;
            transition: 0.3s;
        }
    }

}
