.tasks__page__container{
    position: relative;


    .tasks__scroll__container{
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        width: 100%;
        padding-bottom: 15px;
        transition: 0.2s;
        overflow-y: auto;
        height: calc(100vh - 175px);
    
        @include mediaMaxWidth(1000px){
            width: 100vw 
        }

        @include mediaMaxWidth(900px){
            height: calc(100vh - 247px);
        }
    }

    .tasks__page__add__box__container{
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        width: 100%;
        padding-bottom: 15px;
        transition: 0.2s;

        @include mediaMaxWidth(800px){
            // width: calc(100vw - 20px);
                
        }
    }
}

