.contact__container{
    @include displayFlex(row, space-between, center);
    padding: 10px;
    padding-right: 20%;
    margin-top: 15px;
    width: 98%;
    background-color: $SL_color;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;

  
    .name__container{
        font-weight: 500;
        padding-left: 20px;
    }
   

    .icon__container{
        border: 4px solid $S_light;
        border-radius: 50%;
        color: $background;
        @include shadow()
       
    }

    div{
        // margin-right: 10px;
        // width: calc(90% / 5);
        @include displayFlex(row, start, center);
        
    }

    i{
        font-size: 35px;
    
    }

}


.contact__container:hover{
    background-color: $SL_color_hover;
    transition: 0.5s;
}