.add__client__form__container{
     max-width: 470px;
     position: relative;

     .exit__icon{
         position: absolute;
         right: 0px;
         top:-4px;
         font-size: 20px;
         cursor: pointer;
        

     }

     .form__title{
      padding-bottom: 20px; 
     }



    .form__inputs__container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include mediaMaxWidth(500px){
            justify-content: center;  
         }
    }

        .btn__container{
            display: flex;
        }
        .btn{
        margin-left: auto;
        @include mediaMaxWidth(500px){
           margin: auto;
         }
    }

}