.contacts__page__container{
     position: relative;
     z-index: 101;


     .no__contacts{
          margin-top: 200px;
          font-size: 20px;
          font-weight: 500;
     }
}

.contacts__container{
     width:  100%;
     height: calc(100vh - 80px);
     overflow-y: auto;
     overflow-x: hidden;
     
     @include mediaMaxWidth(1000px){
          width: 100vw;
          overflow-y:scroll;
          -webkit-overflow-scrolling:touch;
      }

}


.contacts__scroll__container{
     @include displayFlex(column, unset, center);
     width: 100%;
     padding-bottom: 15px;
     transition: 0.2s;

}

