.contacts__container{
     width:  100%;
     height: calc(100vh - 80px);
     overflow-y: scroll;
     overflow-x: hidden;

}

.contacts__nav{
     height: 80px;
     background-color: #3d4c54
}

.contacts__scroll__container{
     @include displayFlex(column, unset, center);
     width: 100%;
     padding-bottom: 15px;

}

// .contacts__container::-webkit-scrollbar {
//      width: 10px;
//    }
   
//    /* Track */
//    .contacts__container::-webkit-scrollbar-track {
//      background: #f1f1f1; 
//    }
    
//    /* Handle */
//    .contacts__container::-webkit-scrollbar-thumb {
//      background: #888; 
//    }
   
//    /* Handle on hover */
//    .contacts__container::-webkit-scrollbar-thumb:hover {
//      background: #555; 
//    }
