.main__popup__container{
    position: absolute;
    // width: 100vw;
    width: calc(100vw - 150px);
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    
    transition: 0.2s all;

    //class-not-active:
    // opacity: 0;
    // pointer-events: none;

    //class - active:
    opacity: 1;
    pointer-events: all;

    @include mediaMaxWidth(1000px){
       width: 100vw;
    }

    .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background: rgba(0, 0, 0, 0.465);
    }
}

.main__popup__inner__container{
    border-radius: 5px;
    margin-top: 200px;
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    min-width: 200px;
    height: max-content;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1000;
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;

    h2{
        font-weight: bold;
    }
}
