.bar__chart{
    width: 140%;
    position: relative;
    margin-top: 20px;
    @include displayFlex(row, center, center);


    .recharts-wrapper{
        height: unset!important;
        width: 100%!important;
        padding: 15px;

        .recharts-surface:first-of-type{
        
            width: 100%;
            position: relative;
            top: 9px;
            left: -10px;
            margin-right: 15px;

            @include mediaMaxWidth(800px){
                width: 122%;
                position: relative;
                top: 9px;
                left: -15%;
                margin-right: unset;
            }

            @media screen and (max-width: 1350px) and (min-width: 800px) {
                width: 130%;
                position: relative;
                top: 9px;
                left: -21%;
                margin-right: 15px;
              }
        }

        .recharts-legend-wrapper{
            bottom: 15px!important;
            width: unset!important;
            height: unset!important;
            left: unset!important;
            position: relative!important;

            .recharts-surface{
        
                width: unset;
                position: unset;
                top: unset;
                left: unset;
                margin-right: unset;
    
            }

          
        }
    }

    .recharts-tooltip-wrapper{
        z-index: 100!important;
        transform: translate(150px, 0px)!important;
    }
}