.login__container{
    @include gradient();
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    @include displayFlex(column, center , center);


    .logo__container{
      padding: 0px;
    }


    .login__demo__user{
        color: white;
        padding-top: 20px;

        h2{
            font-weight: bold;
            padding: 3px;
            padding-left: 0px;
        }

        div{
            padding: 3px;
            padding-left: 0px;
        }
    }

    .login__inner__container{
        background-color: white;
        @include displayFlex(column, center , center);
        // margin: auto;
        padding: 20px;
        border-radius: 5px;
        position: relative;
     


        .input__container{
            @include displayFlex(column, center , unset);
            span{
                font-weight: 500;
            }
            input{
                width: 200px;
                margin: 5px;
                margin-left: 0px;
            }
            padding-left: 10px;
        }

        .err__text{
            position: absolute;
            font-size: 12px;
            color: #F44336;
            bottom: 104px;
            // left: 27px;
        }

       

       

        button {
            width: 160px;
            margin: 5px;
            height: 30px;
            @include displayFlex(column, center , center);

        }
    }





     .sign__question{
        text-align: center;
        font-size: 13px;
        margin-top: 10px;
     }

     .sign__link{
        text-align: center;
        font-size: 15px;
        color: $strong;
        margin-top: 10px;
        font-weight: 500;
     }

     .confetti{
         position: fixed;
         top: 0;
         left: 0;
         background-color: rgba(0, 0, 0, 0.418);
         width: 100vw;
         height: 100vh;
         display: flex;
        }

     .new__acount__msg{
        @include displayFlex(column, center , center);
        margin: auto;
        background-color: white;
        color: black;
        width: 200px;
        flex-direction: column;
        border-radius: 5px;
        padding: 21px;
        @include shadow();

        
        div:nth-child(2){
            text-align: center;
            margin-top: 5px;
        }
     }
    

    
    
}