

.overview__container{
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    overflow-y: auto;
    overflow-x: hidden;

    @include mediaMaxWidth(1000px){
        width: 100vw

    }
}

.overview__boxes{
    padding-bottom: 20px;
    height: 100%;
}

.overview__inner__container{
    width: 100%;
    min-height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    height: 100%;
    padding-bottom: 20px;
    

    @include mediaMaxWidth(1000px){
        padding-right: 60px;
    }

    @include mediaMaxWidth(500px){
        padding-right: 40px;
    }

    .overview__box{
        min-width: 285px;
        width: 43%;
        padding: 20px;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #e0dce66b;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        margin: 10px;
        max-height: 385px;
        position: relative;

        @include mediaMaxWidth(1000px){
            width: 100%;
        }  
    }

    .overview__box__Calendar__box{
        @include mediaMaxWidth(1000px){
            max-height: unset;
            margin-bottom: 50px;
        } 
       
    }

    

    .overview__box__data__box{
        padding: 0px;
    }

    .overview__box__title{
        position: absolute;
        top: 10px;
        font-weight: 500;
        left: 10px;
    } 

}


.no__contacts__chart{
    margin-top: 20px;
    font-size: 16px!important;
}