@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif !important;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */ }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

button {
  cursor: pointer;
  border: none; }

button:focus {
  outline: none; }

input:focus {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  font-family: "Montserrat", sans-serif !important; }

* {
  box-sizing: border-box; }

*::-webkit-scrollbar {
  width: 20px; }

/* Track */
*::-webkit-scrollbar-track {
  background: #e6ab9af3; }

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #CC5333; }

/* Handle on hover */
.btn {
  cursor: pointer;
  font-family: "Montserrat", sans-serif !important;
  border: none;
  background: linear-gradient(to right, #23074d, #cc5333);
  color: white;
  padding: 10px;
  transition: 0.2s;
  border-radius: 3px;
  opacity: 1; }

.btn:hover {
  transition: 0.2s;
  opacity: 0.9; }

.dashboard__container {
  display: flex;
  flex-direction: "row";
  justify-content: "unset";
  align-items: "unset";
  background-color: #e2c29c46;
  color: black; }

.dashboard {
  width: calc(100vw - 150px); }

.navbar__container {
  background-color: #23074d;
  color: white;
  height: 100vh;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
  font-size: 16px; }
  .navbar__container a {
    color: #ffffff7a;
    text-decoration: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .navbar__container ul {
    position: relative;
    width: 100%; }
    .navbar__container ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      height: 125px;
      width: 100%;
      transition: 0.5s;
      color: #ffffff7a; }
      .navbar__container ul li a {
        width: 100%;
        height: 100%; }
    .navbar__container ul li:hover {
      background-color: rgba(245, 245, 245, 0.301);
      transition: 0.5s; }
    .navbar__container ul .selected__tab {
      color: white !important; }
      .navbar__container ul .selected__tab a {
        color: white !important; }
    .navbar__container ul .logout__tab {
      position: absolute;
      bottom: 0px;
      width: 100%; }
    .navbar__container ul i {
      margin-bottom: 10px;
      font-size: 30px; }
  .navbar__container .logo {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    height: 80px; }

.contact__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
  width: 98%;
  background-color: #662d5b41;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  justify-content: unset; }
  .contact__container .name__container {
    font-weight: 500;
    padding-left: 20px; }
  .contact__container .icon__container {
    border: 4px solid #ff7c57;
    border-radius: 50%;
    color: #23074d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }
  .contact__container .conatct_text {
    width: calc(100% / 4);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center; }
  .contact__container .conatct_company {
    padding-left: 40px; }
  .contact__container i {
    font-size: 35px; }

.contact__container:hover {
  background-color: #58214d26;
  transition: 0.5s; }

.contacts__page__container {
  position: relative; }

.contacts__container {
  width: 100%;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  overflow-x: hidden; }

.contacts__scroll__container {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
  transition: 0.2s; }

.contacts__nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #23074d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #23074d, #cc5333);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #23074d, #cc5333);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .contacts__nav .add__btn {
    background-color: transparent;
    border: unset;
    margin-right: 1.5%; }
    .contacts__nav .add__btn i {
      font-size: 45px;
      color: white;
      transition: 0.3s; }
    .contacts__nav .add__btn i:hover {
      color: #23074d;
      transition: 0.3s; }

.main__popup__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transition: 0.2s all;
  opacity: 1;
  pointer-events: all; }
  .main__popup__container .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.465); }

.main__popup__inner__container {
  border-radius: 5px;
  margin-top: 200px;
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  min-width: 200px;
  height: max-content;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 1000;
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px; }
  .main__popup__inner__container h2 {
    font-weight: bold; }

.add__client__form__container {
  max-width: 470px;
  position: relative; }
  .add__client__form__container .exit__icon {
    position: absolute;
    right: 0px;
    top: -4px;
    font-size: 20px;
    cursor: pointer; }
  .add__client__form__container .form__title {
    padding-bottom: 20px; }
  .add__client__form__container .form__inputs__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .add__client__form__container .btn__container {
    display: flex; }
  .add__client__form__container .btn {
    margin-left: auto; }

.contact__side__bar__container {
  height: calc( 100vh - 80px);
  margin-top: 80px;
  width: 320px;
  background-color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px;
  transition: transform 0.2s;
  transform-origin: right;
  transform: scaleX(1); }

.contact__side__bar__container--off {
  transform: scaleX(0);
  transition: transform 0.2s;
  transform-origin: right; }

.contact__info__container section {
  padding: 10px;
  padding-left: 0px; }

.input__container {
  padding: 10px;
  padding-bottom: 15px;
  padding-left: 0px;
  position: relative; }
  .input__container h3 {
    font-weight: 500;
    padding-bottom: 5px; }
  .input__container input {
    border: unset;
    border-bottom: 2px solid #5f0f4e;
    box-shadow: unset;
    height: 30px;
    width: 200px;
    font-size: 15px; }
  .input__container input:focus {
    border-bottom: 2px solid #ff7c57; }
  .input__container .validation_error {
    position: absolute;
    bottom: -2px;
    color: red;
    font-size: 11px; }

.select__box__container {
  padding: 10px;
  padding-bottom: 15px;
  padding-left: 0px;
  position: relative; }
  .select__box__container h3 {
    font-weight: 500;
    padding-bottom: 5px; }

.select__box__icon {
  margin-left: 4px; }

.fa-sort-down {
  font-size: 15px;
  transform: translateY(-4px); }

.fa-sort-up {
  position: relative;
  top: 2px !important; }

.selected__box {
  position: relative; }
  .selected__box ul {
    position: absolute;
    height: fit-content;
    max-height: 150px; }
    .selected__box ul li {
      background-color: #ffffff; }

.header__select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  border-bottom: 2px solid #5f0f4e;
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 200px; }
  .header__select input {
    border: unset;
    box-shadow: unset;
    width: 180px;
    font-size: 15px; }

.header__select:focus {
  border-bottom: 2px solid #ff7c57; }

#selected__box--off {
  transform: scaleY(0);
  transition: transform 0.2s;
  transform-origin: top; }

#selected__box--off li {
  width: 100%;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  padding-right: 0px;
  justify-content: center;
  color: #ffffff; }

#selected__box--active {
  z-index: 20;
  border-radius: 5px;
  padding: 11px 3px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  transform: scaleY(1);
  transition: transform 0.2s;
  transform-origin: top;
  margin-bottom: 31px;
  width: 100%; }

#selected__box--active li {
  width: 100%;
  position: relative;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  padding-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  font-size: 15px; }
  #selected__box--active li span {
    margin-left: 5px; }

#selected__box--active li:hover {
  background-color: #58214d26; }

.selectbox__list {
  height: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: #ffffff; }

.selectbox__list .selectbox__option {
  height: 37px;
  background-color: rgba(255, 255, 255, 0.2);
  color: black; }

.selectbox__list::-webkit-scrollbar {
  height: 15px;
  width: 8px; }
